<div class="survey-item mt-5 mb-5">
  <h5>
    <span>{{ survey.id }}</span> {{ survey.title }}
  </h5>
  <div class="form-check">
    <h6></h6>
    <input
      class="form-check-input"
      type="radio"
      value="survey.question1"
      [attr.name]="survey.title"
      [attr.id]="survey.question1"
      (change)="onItemChange(survey.question1)"
    />
    <label class="form-check-label" [attr.for]="survey.question1">
      {{ survey.question1 }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      value="survey.question2"
      [attr.name]="survey.title"
      [attr.id]="survey.question2"
      (change)="onItemChange(survey.question2)"
    />
    <label class="form-check-label" [attr.for]="survey.question2">
      {{ survey.question2 }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      value="survey.question3"
      [attr.name]="survey.title"
      [attr.id]="survey.question3"
      (change)="onItemChange(survey.question3)"
    />
    <label class="form-check-label" [attr.for]="survey.question3">
      {{ survey.question3 }}
    </label>
  </div>
</div>
